<div class="row align-items-center justify-content-between">
  <div class="col col-sm-8">
    <h2 data-test-log-header>
      Attack Log
    </h2>
  </div>
  <div class="col col-sm-4 d-flex justify-content-end">
    <button class="btn btn-danger btn-sm" type="button" {{on "click" @clearAttackLog}} data-test-button-clear-attack-log>
      Clear
    </button>
  </div>
</div>
<div class="pt-3">
  <div class="col-scrollable rounded border">
    <ul class="p-4" data-test-attack-log>
      {{#each @repeatedAttackLog as |repeatedAttackDetails index|}}
      <h4 data-test-total-damage-header={{index}}>
        Total Damage: {{repeatedAttackDetails.totalDmg}} ({{repeatedAttackDetails.totalNumberOfHits}}
        {{this.getHitString repeatedAttackDetails.totalNumberOfHits}})
      </h4>
      <ul data-test-attack-data-list={{index}} class="list-group">
        <li class="li-no-bullets">Number of attacks: {{repeatedAttackDetails.numberOfAttacks}}</li>
        <li class="li-no-bullets">Target AC: {{repeatedAttackDetails.targetAC}}</li>
        <li class="li-no-bullets">Attack roll: {{this.getAttackString repeatedAttackDetails.toHit}}
          {{#if (eq repeatedAttackDetails.advantageState.name "advantage") }}
          (advantage)
          {{/if}}
          {{#if (eq repeatedAttackDetails.advantageState.name "disadvantage") }}
          (disadvantage)
          {{/if}}
        </li>
      </ul>
      <ol data-test-attack-detail-list={{index}}>
        {{#each repeatedAttackDetails.attackDetailsList as |attackDetails index2|}}

        {{#if attackDetails.hit }}
        <li class="li-hit">
          Attack roll: {{attackDetails.roll}}
          {{#if attackDetails.crit}} (CRIT!){{/if}}

          <ul data-test-damage-detail-list="{{index}}-{{index2}}">
            {{#each attackDetails.damageDetails as |damage|}}
            <li>
              {{damage.roll}} {{damage.type}} damage
              {{#if attackDetails.crit}} (<b>{{damage.dice}}</b>){{/if}}
              {{#unless attackDetails.crit}} ({{damage.dice}}){{/unless}}
              {{#if damage.resisted}} (resisted){{/if}}
              {{#if damage.vulnerable}} (vulnerable){{/if}}
            </li>
            {{/each}}
          </ul>
        </li>
        {{/if}}

        {{#unless attackDetails.hit }}
        <li class="li-miss">
          Attack roll: {{attackDetails.roll}}
          {{#if attackDetails.nat1}} (NAT 1!){{/if}}
        </li>
        {{/unless}}

        {{/each}}
      </ol>
      <hr>
      <hr>
      <hr>
      {{/each}}
    </ul>
  </div>
</div>