<h4>
  Attack Details
</h4>
<ul data-test-plan-detail-list>
  <li>Target AC: {{@targetAC}}</li>
  <li>Number of attacks: {{@numberOfAttacks}}</li>
  <li>Attack roll: {{this.getAttackString @toHit}}
    {{#if (eq @advantageState.name "advantage") }}
    (rolls with advantage)
    {{/if}}
    {{#if (eq @advantageState.name "disadvantage") }}
    (rolls with disadvantage)
    {{/if}}
  </li>
  <li>Attack damage:</li>
  <ul data-test-plan-detail-damage-list>
    {{#each @damageList as |damage|}}
    <li>{{damage.damageString}} {{damage.type}} damage
      {{#if damage.targetResistant}} (target resistant){{/if}}
      {{#if damage.targetVulnerable}} (target vulnerable){{/if}}
    </li>
    {{/each}}
  </ul>
</ul>
{{#if @attackTriggered}}
<h4 data-test-total-damage-header>
  <strong>*** Total Damage: {{@totalDmg}} ***</strong>
</h4>
<ol data-test-attack-detail-list>
  {{#each @attackDetailsList as |attackDetails index|}}

  {{#if attackDetails.hit }}
  <hit>
    Attack roll: {{attackDetails.roll}}
    {{#if attackDetails.crit}} (CRIT!){{/if}}

    <ul data-test-damage-detail-list={{index}}>
      {{#each attackDetails.damageDetails as |damage|}}
      <li>
        {{damage.label}}: {{damage.roll}} damage inflicted
        {{#if damage.resisted}} (resisted){{/if}}
        {{#if damage.vulnerable}} (vulnerable){{/if}}
      </li>
      {{/each}}
    </ul>
  </hit>
  {{/if}}

  {{#unless attackDetails.hit }}
  <miss>
    Attack roll: {{attackDetails.roll}}
    {{#if attackDetails.nat1}} (NAT 1!){{/if}}
  </miss>
  {{/unless}}

  {{/each}}
</ol>
{{/if}}