<div class="row align-items-center justify-content-between">
  <div class="col col-sm-8">
    <h2 data-test-log-header>
      Attack Log
    </h2>
  </div>
  <div class="col col-sm-4 d-flex justify-content-end">
    <button class="btn btn-danger btn-sm" type="button" {{on "click" @clearAttackLog}}
      data-test-button-clear-attack-log>
      Clear
    </button>
  </div>
</div>
<div class="pt-3">
  <div class="col-scrollable rounded border">
    <ul class="p-4" data-test-attack-log>
      {{#each @repeatedAttackLog as |repeatedAttackDetails index|}}
      {{#unless (eq index 0)}}
      <hr>
      <hr>
      <hr>
      {{/unless}}
      <h4 data-test-total-damage-header={{index}}>
        Total Damage: {{repeatedAttackDetails.totalDmg}} ({{repeatedAttackDetails.totalNumberOfHits}}
        {{this.getHitString repeatedAttackDetails.totalNumberOfHits}})
      </h4>
      <ul data-test-attack-data-list={{index}} class="list-group">
        <li class="li-no-bullets">Number of attacks: {{repeatedAttackDetails.numberOfAttacks}}</li>
        <li class="li-no-bullets">Target AC: {{repeatedAttackDetails.targetAC}}</li>
        <li class="li-no-bullets">Attack roll: {{this.getAttackString repeatedAttackDetails.toHit}}
          {{#if (eq repeatedAttackDetails.advantageState.name "advantage") }}
          (advantage)
          {{/if}}
          {{#if (eq repeatedAttackDetails.advantageState.name "disadvantage") }}
          (disadvantage)
          {{/if}}
        </li>
      </ul>
      <ol data-test-attack-detail-list={{index}}>
        {{#each repeatedAttackDetails.attackDetailsList as |attackDetails index2|}}

        {{#if attackDetails.hit }}
        <li class="li-hit">
          <span data-test-attack-roll-detail="{{index}}-{{index2}}"
            title="{{this.getRollDetailString attackDetails.roll.rolls}}">
            <a data-test-attack-roll-collapse-link="{{index}}-{{index2}}" class="link link-dark collapsed"
              data-bs-toggle="collapse" href="#attack-detail-collapse-{{index}}-{{index2}}" role="button"
              aria-expanded="false" aria-controls="attack-detail-collapse-{{index}}-{{index2}}">
              {{attackDetails.roll.total}}</a> to hit
            {{#if attackDetails.crit}} (CRIT!){{/if}}
          </span>
          <div data-test-attack-roll-collapse-pane="{{index}}-{{index2}}" class="collapse"
            id="attack-detail-collapse-{{index}}-{{index2}}">
            <ul>
              {{#each attackDetails.roll.rolls as |roll|}}
              <li class="text-muted">
                {{roll.name}}: {{this.getStringWithSpaces roll.rolls}}
              </li>
              {{/each}}
            </ul>
          </div>

          <ul data-test-damage-detail-list="{{index}}-{{index2}}">
            {{#each attackDetails.damageDetails as |damage index3|}}
            <li>
              <span data-test-damage-roll-detail="{{index}}-{{index2}}-{{index3}}"
                title="{{this.getRollDetailString damage.roll.rolls}}">
                {{#if damage.roll.rolls}}
                <a data-test-damage-roll-collapse-link="{{index}}-{{index2}}-{{index3}}"
                  class="link link-dark collapsed" data-bs-toggle="collapse"
                  href="#damage-detail-collapse-{{index}}-{{index2}}-{{index3}}" role="button" aria-expanded="false"
                  aria-controls="damage-detail-collapse-{{index}}-{{index2}}-{{index3}}">{{damage.roll.total}}</a>
                {{/if}}
                {{#unless damage.roll.rolls}}
                {{damage.roll.total}}
                {{/unless}}
                {{damage.type}} damage
                {{#if attackDetails.crit}} (<b>{{damage.dice}}</b>){{/if}}
                {{#unless attackDetails.crit}} ({{damage.dice}}){{/unless}}
                {{#if damage.resisted}} (resisted){{/if}}
                {{#if damage.vulnerable}} (vulnerable){{/if}}
              </span>

              <div data-test-damage-roll-collapse-pane="{{index}}-{{index2}}-{{index3}}" class="collapse"
                id="damage-detail-collapse-{{index}}-{{index2}}-{{index3}}">
                <ul>
                  {{#each damage.roll.rolls as |roll|}}
                  <li class="text-muted">
                    {{roll.name}}: {{this.getStringWithSpaces roll.rolls}}
                  </li>
                  {{/each}}
                </ul>
              </div>
            </li>
            {{/each}}
          </ul>
        </li>
        {{/if}}

        {{#unless attackDetails.hit }}
        <li class="li-miss">
          <span data-test-attack-roll-detail="{{index}}-{{index2}}"
            title="{{this.getRollDetailString attackDetails.roll.rolls}}">
            <a data-test-attack-roll-collapse-link="{{index}}-{{index2}}" class="link link-dark collapsed"
              data-bs-toggle="collapse" href="#attack-detail-collapse-{{index}}-{{index2}}" role="button"
              aria-expanded="false" aria-controls="attack-detail-collapse-{{index}}-{{index2}}">
              {{attackDetails.roll.total}}</a> to hit
            {{#if attackDetails.nat1}} (NAT 1!){{/if}}
          </span>
          <div data-test-attack-roll-collapse-pane="{{index}}-{{index2}}" class="collapse"
            id="attack-detail-collapse-{{index}}-{{index2}}">
            <ul>
              {{#each attackDetails.roll.rolls as |roll|}}
              <li class="text-muted">
                {{roll.name}}: {{this.getStringWithSpaces roll.rolls}}
              </li>
              {{/each}}
            </ul>
          </div>
        </li>
        {{/unless}}

        {{/each}}
      </ol>
      {{/each}}
    </ul>
  </div>
</div>