<div class="container">
  <div class="row align-items-top">
    <div class="col-sm">
      <h2>Current Attack</h2>
      <div class="row row-cols-sm-auto align-items-top">
        <div class="col">
          <label for="numberOfAttacks">Number of Attacks</label>
          <Input data-test-input-numberOfAttacks class="form-control" name="numberOfAttacks" @type="number"
            @value={{this.numberOfAttacks}} />
        </div>

        <div class="col">
          <label for="targetAC">Target AC</label>
          <Input data-test-input-targetAC class="form-control" name="targetAC" @type="number"
            @value={{this.targetAC}} />
        </div>
      </div>

      <AdvantageRadio @updateState={{this.setAdvantageState}}/>

      <h3 class="mt-3">Attack Details</h3>
      <div class="row row-cols-sm-auto align-items-top">
        <div class="col">
          <label for="toHit">To Hit Modifier</label>
          <Input data-test-input-toHit class="form-control" @type="text" name="toHit" @value={{this.toHit}} />
        </div>
      </div>

      <div class="row row-cols-sm-auto align-items-top">
        <div class="col">
          <label for="damage">Attack Damage</label>
          <Input data-test-input-damage class="form-control" @type="text" name="damage"
            aria-describedby="dmgDescription" @value={{this.damage}} />
          <small id="dmgDescription" class="form-text text-muted">
            A string of the form 'XdY+Z' or 'XdY-Z' (ex: 3d8+4).
          </small>
        </div>
        {{!-- TODO: Damage type dropdown --}}
      </div>

      <div class="row row-cols-sm-auto align-items-top">
        <div class="col">
          <Input data-test-resistant class="form-check-input" @type="checkbox" name="resistant"
            @checked={{this.resistant}} />
          <label class="form-check-label" for="resistant}">
            Target Resistant
          </label>
          <Input data-test-vulnerable class="form-check-input" @type="checkbox" name="vulnerable"
            @checked={{this.vulnerable}} />
          <label class="form-check-label" for="vulnerable">
            Target Vulnerable
          </label>
        </div>
      </div>

      <div class="row row-cols-sm-auto align-items-top">
        <button data-test-button-getDamage class="btn btn-primary m-3" type="button" id="attackBtn" {{on "click"
          this.getDamageMessage}}>Attack!</button>

        <button data-test-button-getDetails class="btn btn-info m-3" type="button" id="detailsBtn" {{on "click"
          this.getAttackDetailsMessage}}>Display
          Attack Details</button>
      </div>
    </div>

    <div class="col-lg">
      <Textarea data-test-message id="message" @value={{this.message}} rows="15" cols="80" />
    </div>
  </div>
</div>