<div class="row align-items-top">
  <div class="col-sm">
    <form class="needs-validation" onsubmit={{this.suppressPageRefresh}}>
      <h2>Set Up Attacks</h2>
      <div class="row align-items-top">
        <div class="col">
          <label for="numberOfAttacks">Number of Attacks</label>
          <Input data-test-input-numberOfAttacks class="form-control" id="numberOfAttacks" name="numberOfAttacks"
            @type="number" @value={{this.numberOfAttacks}} min="0" title="Number of attacks cannot be negative" />
        </div>

        <div class="col">
          <label for="targetAC">Target AC</label>
          <Input data-test-input-targetAC class="form-control" id="targetAC" name="targetAC" @type="number"
            @value={{this.targetAC}} />
        </div>
      </div>

      <div class="row align-items-top my-2">
        <div class="col">
          <AdvantageRadio @updateState={{this.setAdvantageState}} />
        </div>
      </div>

      <h3 class="mt-3" data-test-enter-details-header>Enter Attack Details</h3>
      <div class="row align-items-top">
        <div class="col">
          <label for="toHit">To Hit Modifier</label>
          <Input data-test-input-toHit class="form-control" @type="text" id="toHit" name="toHit" @value={{this.toHit}}
            aria-describedby="toHitDescription" pattern={{this.diceGroupsRegex}}
            title="Modifier must be dice groups and/or numbers added and subtracted, like '-5 + 1d4' or '7' or '1d4 - 1d6 + 2'" />
        </div>
      </div>
      <hr>


      {{#each this.damageList as |damage index| }}
      <DamageType data-test-damage-type={{index}} @index={{index}} @setDamage={{damage.setDamage}}
        @setDamageType={{damage.setDamageType}} @setResistant={{damage.setResistant}}
        @setVulnerable={{damage.setVulnerable}} @initialDamage={{damage.damageString}}
        @initialDamageType={{damage.type}} @initialResistant={{damage.targetResistant}}
        @initialVulnerable={{damage.targetVulnerable}} />
      <div class="row align-items-top">
        <div class="col-sm">
          <button data-test-button-remove-damage-type={{index}} class="btn btn-warning my-2" type="button" {{on "click"
            (fn this.removeDamageType index)}}>Remove Damage Type</button>
        </div>
      </div>
      <hr>
      {{/each}}
      <div class="row align-items-top">
        <div class="col-sm">
          <button data-test-button-add-damage-type class="btn btn-info my-3" type="button" {{on "click"
            this.addNewDamageType}}>New Damage Type</button>
        </div>
      </div>

      <div class="row align-items-top mx-auto mb-5">
        <button data-test-button-getDamage class="btn btn-primary btn-lg w-70 d-block" type="submit" id="attackBtn"
          {{on "click" this.simulateRepeatedAttacks}}>Attack!</button>
      </div>
    </form>
  </div>

  <div class="col-md col-scrollable">
    <DetailDisplay @repeatedAttackLog={{this.attackResultLog}} />
  </div>
</div>