<div class='row align-items-top justify-content-between'>
  <div class='col-md-4'>
    <form class='needs-validation' onsubmit={{this.suppressPageRefresh}}>
      <h2>Set Up Saves</h2>
      <div class='row align-items-center py-2'>
        <label
          data-test-save-form-label
          for='numberOfSaves'
          class='col-6 col-form-label'
        >Number of Saves</label>
        <div class='col-6'>
          <Input
            data-test-input-numberOfSaves
            class='form-control'
            id='numberOfSaves'
            name='numberOfSaves'
            @type='number'
            @value={{this.numberOfSaves}}
            min='0'
            title='Number of saves cannot be negative'
            required='required'
          />
        </div>
      </div>

      <div class='row align-items-center py-2'>
        <label for='saveDC' class='col-6 col-form-label'>Save DC</label>
        <div class='col-6'>
          <Input
            data-test-input-saveDC
            class='form-control'
            id='saveDC'
            name='saveDC'
            @type='number'
            @value={{this.saveDC}}
            required='required'
          />
        </div>
      </div>

      <div class='row align-items-center py-2'>
        <label for='saveMod' class='col-6 col-form-label'>Save Modifier</label>
        <div class='col-6'>
          <div class='input-group'>
            <div class='input-group-text'>1d20 +</div>
            <Input
              data-test-input-saveMod
              class='form-control'
              @type='text'
              id='saveMod'
              name='saveMod'
              @value={{this.saveMod}}
              required='required'
              pattern={{this.diceGroupsRegex}}
              title="Modifier must be dice groups and/or numbers added and subtracted, like '-5 + 1d4' or '7' or '1d4 - 1d6 + 2'"
            />
          </div>
        </div>
      </div>

      <div class='row align-items-center py-2'>
        <label class='col-6 col-form-label'>Rolls With</label>
        <div class='col-6'>
          <AdvantageRadio @updateState={{this.setAdvantageState}} />
        </div>
      </div>

      <hr />

      <div class='form-check'>
        <Input
          data-test-input-half-damage
          class='form-check-input'
          @type='checkbox'
          id='saveForHalfDamage'
          name='saveForHalfDamage'
          @checked={{this.saveForHalfDamage}}
        />
        <label class='form-check-label' for='saveForHalfDamage'>
          Save for half damage
        </label>
      </div>
      <div class="form-check">
        <Input data-test-input-roll-dmg-every-save class="form-check-input" @type="checkbox" id="rollDamageEverySave"
          name="rollDamageEverySave" @checked={{this.rollDamageEverySave}} />
        <label class="form-check-label" for="rollDamageEverySave">
          Roll new damage for every save
        </label>
      </div>

      <hr />

      <DamagePane
        @damageList={{this.damageList}}
        @removeDamageType={{this.removeDamageType}}
        @addNewDamageType={{this.addNewDamageType}}
      />

      <div class='row align-items-center mx-auto mb-5'>
        <button
          data-test-button-rollSaves
          class='btn btn-primary btn-lg w-70 d-block'
          type='submit'
          id='saveBtn'
          {{on 'click' this.simulateRepeatedSaves}}
        >Roll Saves!</button>
      </div>
    </form>
  </div>

  <div class='col-md-7'>
    <DetailDisplay
      @log={{this.saveResultLog}}
      @clearLog={{this.clearSaveLog}}
      @getLogHeader={{this.getLogHeader}}
      @getSuccessCountString={{this.getPassCountString}}
      @getRepCountString={{this.getSaveCountString}}
      @getThresholdString={{this.getSaveDCString}}
      @getD20Modifier={{this.getSaveModifier}}
      @getRollString={{this.getSavingThrowString}}
      @isSuccess={{this.isPass}}
      @getD20RollString={{this.getD20RollString}}
      @shouldBoldDice={{this.shouldBoldDice}}
    />
  </div>
</div>