<div class="row align-items-center">
  <div class="col col-lg-9 pt-5 pb-4">
    <h1>Horde Damage Calculator</h1>
    <p>
      Want to simulate multiple attacks on a single target without rolling every die? Enter the attack details, the
      number of attacks, and the AC of the target, and the tool will calculate the damage to the target and display the
      total damage alongside a breakdown of each attack.
    </p>
    <p>
      This uses a 20-sided die for attack rolls, as in D&D 5e and similar systems. If an attack is a critical hit (rolls
      a 20), the damage dice are rolled twice. Rolling a 1 always misses.
    </p>
  </div>
</div>
<div class="row align-items-top justify-content-between">
  <div class="col-md-4">
    <form class="needs-validation" onsubmit={{this.suppressPageRefresh}}>
      <h2>Set Up Attacks</h2>
      <div class="row align-items-center py-2">
        <label for="numberOfAttacks" class="col-6 col-form-label">Number of Attacks</label>
        <div class="col-6">
          <Input data-test-input-numberOfAttacks class="form-control" id="numberOfAttacks" name="numberOfAttacks"
            @type="number" @value={{this.numberOfAttacks}} min="0" title="Number of attacks cannot be negative"
            required="required" />
        </div>
      </div>

      <div class="row align-items-center py-2">
        <label for="targetAC" class="col-6 col-form-label">Target AC</label>
        <div class="col-6">
          <Input data-test-input-targetAC class="form-control" id="targetAC" name="targetAC" @type="number"
            @value={{this.targetAC}} required="required" />
        </div>
      </div>

      <div class="row align-items-center py-2">
        <label for="toHit" class="col-6 col-form-label">To Hit Modifier</label>
        <div class="col-6">
          <div class="input-group">
            <div class="input-group-text">1d20 +</div>
            <Input data-test-input-toHit class="form-control" @type="text" id="toHit" name="toHit" @value={{this.toHit}}
              aria-describedby="toHitDescription" required="required" pattern={{this.diceGroupsRegex}}
              title="Modifier must be dice groups and/or numbers added and subtracted, like '-5 + 1d4' or '7' or '1d4 - 1d6 + 2'" />
          </div>
        </div>
      </div>

      <div class="row align-items-center py-2">
        <label class="col-6 col-form-label">Rolls With</label>
        <div class="col-6">
          <AdvantageRadio @updateState={{this.setAdvantageState}} />
        </div>
      </div>

      <hr>


      {{#each this.damageList as |damage index| }}
      <DamageType data-test-damage-type={{index}} @index={{index}} @setDamage={{damage.setDamage}}
        @setDamageType={{damage.setDamageType}} @setResistant={{damage.setResistant}}
        @setVulnerable={{damage.setVulnerable}} @initialDamage={{damage.damageString}}
        @initialDamageType={{damage.type}} @initialResistant={{damage.targetResistant}}
        @initialVulnerable={{damage.targetVulnerable}} />
      <div class="row align-items-center">
        <div class="col-sm">
          <button data-test-button-remove-damage-type={{index}} class="btn btn-danger my-2" type="button" {{on "click"
            (fn this.removeDamageType index)}}>Remove Damage Type</button>
        </div>
      </div>
      <hr>
      {{/each}}
      <div class="row align-items-center">
        <div class="col-sm">
          <button data-test-button-add-damage-type class="btn btn-info my-3" type="button" {{on "click"
            this.addNewDamageType}}>New Damage Type</button>
        </div>
      </div>

      <div class="row align-items-center mx-auto mb-5">
        <button data-test-button-getDamage class="btn btn-primary btn-lg w-70 d-block" type="submit" id="attackBtn"
          {{on "click" this.simulateRepeatedAttacks}}>Attack!</button>
      </div>
    </form>
  </div>

  <div class="col-md-7">
    <DetailDisplay @repeatedAttackLog={{this.attackResultLog}} />
  </div>
</div>