<div class="row align-items-top">
  <div class="col-sm">
    <form class="needs-validation" onsubmit={{this.suppressPageRefresh}}>
      <h2>Set Up Current Attacks</h2>
      <div class="row row-cols-sm-auto align-items-top">
        <div class="col">
          <label for="numberOfAttacks">Number of Attacks</label>
          <Input data-test-input-numberOfAttacks class="form-control" name="numberOfAttacks" @type="number"
            @value={{this.numberOfAttacks}} min="0" title="Number of attacks cannot be negative" />
        </div>

        <div class="col">
          <label for="targetAC">Target AC</label>
          <Input data-test-input-targetAC class="form-control" name="targetAC" @type="number"
            @value={{this.targetAC}} />
        </div>
      </div>

      <AdvantageRadio @updateState={{this.setAdvantageState}} />

      <h3 class="mt-3">Enter Attack Details</h3>
      <div class="row row-cols-sm-auto align-items-top">
        <div class="col">
          <label for="toHit">To Hit Modifier</label>
          <Input data-test-input-toHit class="form-control" @type="text" name="toHit" @value={{this.toHit}}
            pattern={{this.diceGroupsRegex}}
            title="Modifier must be dice groups and/or numbers added and subtracted, like '-5 + 1d4' or '7' or '+1d4 - 1d6 + 2'" />
        </div>
      </div>

      <DamageType @setDamage={{this.setDamage}} @setDamageType={{this.setDamageType}}
        @setResistant={{this.setResistant}} @setVulnerable={{this.setVulnerable}} @initialDamage={{this.damage}}
        @initialDamageType={{this.damageType}} @initialResistant={{this.resistant}}
        @initialVulnerable={{this.vulnerable}} />

      <div class="row row-cols-sm-auto align-items-top">
        <button data-test-button-getDamage class="btn btn-primary m-3" type="submit" id="attackBtn" {{on "click"
          this.simulateRepeatedAttacks}}>Attack!</button>
      </div>
    </form>
  </div>

  <div class="col-lg">
    <DetailDisplay @targetAC={{this.targetAC}} @numberOfAttacks={{this.numberOfAttacks}} @toHit={{this.toHit}}
      @advantageState={{this.advantageState}} @damage={{this.damage}} @damageType={{this.damageType}}
      @resistant={{this.resistant}} @vulnerable={{this.vulnerable}} @attackTriggered={{this.attackTriggered}}
      @totalDmg={{this.totalDmg}} @attackDetailsList={{this.attackDetailsList}} />
  </div>
</div>